{% extends 'base.html.twig' %}


{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>

                <th>Description</th>


                <th>Date</th>
                <th>Email</th>
                <th>etat</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>


                <td>{{ reclamation.nom }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.email }}</td>
                {% if reclamation.etat == 0 %}
                    <td><label class="badge badge-warning">En cours</label></td>
                {% elseif reclamation.etat == 1 %}
                    <td><label class="badge badge-success">validé</label></td>
                {% else %}
                    <td><label class="badge badge-danger">Refusé</label></td>
                {% endif %}
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                    <a href="{{ path('reclamation_delete', {'id': reclamation.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('reclamation/index.html') }}
    <a href="{{ path('reclamation_new') }}">Create new</a>
{% endblock %}
