{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>iduser</th>
                <td>{{ commande.iduser }}</td>
            </tr>
            <tr>
                <th>date</th>
                <td>{{ commande.date }}</td>

            </tr>
            <tr>
                <th>montant</th>
                <td>{{ commande.montant }}</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">back to list</a>

    <a href="{{ path('commnade_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}



{% endblock %}
