{% extends 'admin/index.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Liste des Clients</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-xxs font-weight-bolder ">Client</th>
                                <th class="text-uppercase text-xxs font-weight-bolder ps-2">Adresse</th>
                                <th class="text-uppercase text-xxs font-weight-bolder">Numero de telephone</th>
                                <th class="text-uppercase text-xxs font-weight-bolder">Status du compte</th>

                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for client in clients %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm text-uppercase">{{ client.prenom}} {{ client.nom }}</h6>
                                                <p class="text-xs mb-0">{{client.email}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold text-uppercase mb-0">{{ client.adresse }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold text-uppercase mb-0">{{ client.num_tel }}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm {% if not client.active %} bg-gradient-danger {% else %}bg-gradient-success {% endif %}"> {% if not client.active %} Bloqué {% else %} Activé {% endif %} </span>
                                    </td>
                                    <td class="align-middle">
                                        <a href={{ path('admin_delete_client',{"id": client.id}) }}"" class="font-weight-bold text-xs" onclick="return confirm('Attention cet utilisateur va être supprimé voulez vous continuez?')" data-toggle="tooltip" data-original-title="Supprimer">
                                            Supprimer
                                        </a> |
                                        <a href={{ path('bloquer_client',{"id": client.id}) }}"" class="font-weight-bold text-xs" onclick="return confirm('Attention cet utilisateur va être bloqué voulez vous continuez?')" data-toggle="tooltip" data-original-title="bloquer">
                                            Bloquer
                                        </a> |
                                        <a href={{ path('debloquer_client',{"id": client.id}) }}"" class="font-weight-bold text-xs" onclick="return confirm('Attention cet utilisateur va être debloqué voulez vous continuez?')" data-toggle="tooltip" data-original-title="debloquer">
                                            Débloquer
                                        </a>
                                    </td>



                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <a class="btn-primary" href="{{ path('liste_c') }}">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}