{% extends 'baseBack.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
    <h1>Equipe index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Metier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.id }}</td>
                <td>{{ equipe.nom }}</td>
                <td>{{ equipe.prenom }}</td>
                <td>{{ equipe.age }}</td>
                <td>{{ equipe.metier }}</td>
                <td>
                    <a href="{{ path('equipe_show', {'id': equipe.id}) }}">show</a>
                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}


        <a href="{{ path('indextri',{'eq':'eq'}) }}" class="btn btn-primary"><img src="{{ asset('assets/img/fl.png')}}" alt="" width="24" height="24"></a>

        </tbody>
    </table>
    {{ knp_pagination_render(equipes) }}
    <a href="{{ path('equipe_index') }}">Create new</a>

{% endblock %}
