{% extends 'baseBack.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ equipe.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ equipe.age }}</td>
            </tr>
            <tr>
                <th>Metier</th>
                <td>{{ equipe.metier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipe_index') }}">back to list</a>

    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">edit</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
