{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>offres de travail pour fournisseur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>num</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.prenom }}</td>
                <td>{{ offre.num }}</td>
                <td>{{ offre.text }}</td>
                <td>
                    <a href="{{ path('offre_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_new') }}">Create new</a>
{% endblock %}
